<section>
  <div class="title">
    <div class="texte s1">
      <h1>Welcome to MYSTYLE</h1>
    </div>

    <div class="texte s2">
      <h1>Welcome to MYSTYLE</h1>
    </div>
  </div>

  <div class="container">
    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/d0/e8/e6/d0e8e65fdf2f88efc13482185bd127a8.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/e5/aa/f1/e5aaf11b231a6d5dd1c2a846116c3b09.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/c8/ee/5e/c8ee5e36b78f2b95f27f4b19c3bf0c37.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/15/5f/c8/155fc8e05f42f29fc52a1d9a6e8d6dcf.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/7a/c5/9e/7ac59e870c3693463d04dc9f19214486.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/8e/2a/94/8e2a94a8955e32e505e9563befb94213.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/d1/ab/e0/d1abe07eccb0c8f6f93c407346c61ad3.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/69/ad/42/69ad4221983d48a936467b31cb45530a.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/18/61/00/18610027f00f9be359be1402a533a0b6.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/0b/02/12/0b0212a60cf3926ac6ea90800e7904ab.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/564x/47/16/ac/4716ac313beccffabad53cfe1e5a0864.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/9c/8a/be/9c8abec43a1322ac8cda46b11b8bdb42.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/47/48/77/474877efa834f12fe5aaf7959f30addc.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/19/38/5a/19385a8ef4ca0a8a8eae054e14a432f6.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/564x/0a/3f/3b/0a3f3b58abeeabeb6386abbbc9b812d2.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/5d/54/66/5d546678baea98b1d3b41558651672a0.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/77/b6/53/77b6532791bb47543c199664f0395b0a.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/b9/5f/ed/b95fed97f8597213c0c59e4a14412dc7.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/8b/40/a0/8b40a03dafc39c3e40eaa3376dc2a48f.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/f1/5a/4c/f15a4c6889c8f381a52c2b51400f53fb.jpg"
        alt=""
      />
    </div>

    <div class="photo">
      <div class="link">
        <button>More</button>
      </div>
      <img
        src="https://i.pinimg.com/236x/12/2e/af/122eaf9adfb35dd5fb0c47ec805a85bb.jpg"
        alt=""
      />
    </div>

    <!-- <div class="photo">
        <div class="link">
          <button>More</button>
        </div>
        <img src="" alt="">
      </div> -->
  </div>
</section>
